<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body style="font-size: 0.8rem;">
    <b>Менеджер</b>: Войтик <br/>
    <b>Заказ</b>:{{order.0}}  <br/>
    <b>Клиент</b>:{{order.1}} <br/>
    <b>Откуда</b>:{{order.2}} <br/>
    <b>Куда</b>:{{order.3}} <br/>
    <b>Цена клиента</b>:{{order.4}} <br/>
    <b>с НДС</b>:{{order.5}} <br/>
    <b>без НДС</b>:{{order.6}} <br/>
          {% if order.7 == 4 %}
            <span class="badge badge-warning">Ожидание исполнителя</span> <br/>
          {% endif %}
          {% if order.7 == 9 %}
            <span class="badge badge-danger">Не состоялся</span> <br/>
          {% endif %}
          {% if order.7 == 60 %}
            <span class="badge badge-success">Новый</span> <br/>
          {% endif %}
          {% if order.7 == 61 %}
            <span class="badge badge-success">Есть отклики</span> <br/>
          {% endif %}


     <br/>
    {% for carrier in carriers %}

    {% endfor %}


    <table class="table table-hover  table-sm">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">Перевозчик</th>
      <th scope="col">Контакт</th>
      <th scope="col">Телефон</th>
      <th scope="col">Количество поездок</th>
      <th scope="col">Последняя поездка</th>



    </tr>
  </thead>
  <tbody>
      {% for carrier in carriers %}

        <tr>
          <td><a href="https://trucker.group/companies/{{carrier.0.company_id}}">{{carrier.0.organization_name}}</a> </td>
          <td>{{carrier.6.full_name}}</td>
          <td>{{carrier.6.phone}}</td>
          <td>{{carrier.1}}</td>
          <td>{{carrier.4|date:"d-m-Y"}}</td>







        </tr>
      {% endfor %}
  </tbody>
</table>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>