<!doctype html>
<html lang="en">
   <head>
      {% load i18n %}
      {% load l10n %}
      {% load humanize %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
      <!--   <style>
         .red {
           background-color: #FA8072 !important;
         }


         </style>-->
      <title>Hello, world!</title>
   </head>
   <body>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
         <li class="nav-item">
            <a class="nav-link active" id="voitik-tab" data-toggle="tab" href="#voitik" role="tab" aria-controls="voitik" aria-selected="true">Войтик</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="sudakov-tab" data-toggle="tab" href="#sudakov" role="tab" aria-controls="sudakov" aria-selected="false">Судаков</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="ivaeva-tab" data-toggle="tab" href="#ivaeva" role="tab" aria-controls="ivaeva" aria-selected="false">Иваева</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="trubicin-tab" data-toggle="tab" href="#trubicin" role="tab" aria-controls="trubicin" aria-selected="false">Трубицин</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="govorov-tab" data-toggle="tab" href="#govorov" role="tab" aria-controls="govorov" aria-selected="false">Говоров</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="borzova-tab" data-toggle="tab" href="#borzova" role="tab" aria-controls="borzova" aria-selected="false">Борзова</a>
         </li>
      </ul>
      <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade show active" id="voitik" role="tabpanel" aria-labelledby="voitik-tab">
            <table id="voitik_table" class="display compact" style="width:100%">
               <thead  class="thead-dark">
                             <tr>
          <th rowspan="2">Заказ</th>
          <th rowspan="2">Дата вывоза</th>
          <th rowspan="2">Просрочка</th>
          <th rowspan="2">Клиент</th>
          <th rowspan="2">Откуда</th>
          <th rowspan="2">Куда</th>
          <th rowspan="2">Расстояние</th>
          <th rowspan="2">Вес</th>
                <th colspan="2">Цена</th>
                <th rowspan="2">Руб/км <br/>(без НДС)</th>
          <th rowspan="2"></th>

            </tr>
    <tr>

      <th scope="col">с НДС</th>
      <th scope="col">без НДС</th>

    </tr>
               </thead>
               <tbody>
                  {% for order in orders %}
                  {% if order.8 == "Войтик" %}
                  <tr>
                     <th><a href="https://trucker.group/orders/{{order.0}}">{{order.0}}</a></th>
                     <th>{{order.9|date:'M d'}}</th>
                        {% if order.10 < 0 %}
                              <th><span class="badge badge-success">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 == 0 %}
                              <th><span class="badge badge-warning">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 >= 1 %}
                              <th><span class="badge badge-danger">{{order.10}}</span></th>
                         {% endif %}


                      <td>{{order.1}}</td>
                     <td>{{order.2}}</td>
                     <td>{{order.3}}</td>
                     <td>{{order.12|floatformat:0}}</td>
                     <td>{{order.14|floatformat:0}}</td>
                      <td>{{order.5|floatformat:0|intcomma}}</td>
                      <td>{{order.6|floatformat:0|intcomma}}</td>
                      <td>{{order.11|floatformat:0|intcomma}}</td>

                     <td scope="col"><a href="{% url 'carriers' order_id=order.0 %}">Подобрать</a> </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="tab-pane fade" id="sudakov" role="tabpanel" aria-labelledby="sudakov-tab">
              <table id="sudakov_table" class="display compact" style="width:100%">
              <thead  class="thead-dark">
                             <tr>
          <th rowspan="2">Заказ</th>
          <th rowspan="2">Дата вывоза</th>
          <th rowspan="2">Просрочка</th>
          <th rowspan="2">Клиент</th>
          <th rowspan="2">Откуда</th>
          <th rowspan="2">Куда</th>
          <th rowspan="2">Расстояние</th>
          <th rowspan="2">Вес</th>

                <th colspan="2">Цена</th>
                <th rowspan="2">Руб/км <br/>(без НДС)</th>
          <th rowspan="2"></th>

            </tr>
    <tr>

      <th scope="col">с НДС</th>
      <th scope="col">без НДС</th>

    </tr>
               </thead>
               <tbody>
                  {% for order in orders %}
                  {% if order.8 == "Судаков" %}
                    <tr>
                     <th><a href="https://trucker.group/orders/{{order.0}}">{{order.0}}</a></th>
                     <th>{{order.9|date:'M d'}}</th>
                        {% if order.10 < 0 %}
                              <th><span class="badge badge-success">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 == 0 %}
                              <th><span class="badge badge-warning">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 >= 1 %}
                              <th><span class="badge badge-danger">{{order.10}}</span></th>
                         {% endif %}


                      <td>{{order.1}}</td>
                     <td>{{order.2}}</td>
                     <td>{{order.3}}</td>
                     <td>{{order.12|floatformat:0}}</td>
                      <td>{{order.14|floatformat:0}}</td>
                      <td>{{order.5|floatformat:0|intcomma}}</td>
                      <td>{{order.6|floatformat:0|intcomma}}</td>
                      <td>{{order.11|floatformat:0|intcomma}}</td>

                     <td scope="col"><a href="{% url 'carriers' order_id=order.0 %}">Подобрать</a> </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
               </tbody>
            </table>


         </div>
         <div class="tab-pane fade" id="ivaeva" role="tabpanel" aria-labelledby="ivaeva-tab">
              <table id="ivaeva_table" class="display compact" style="width:100%">
               <thead  class="thead-dark">
                             <tr>
          <th rowspan="2">Заказ</th>
          <th rowspan="2">Дата вывоза</th>
          <th rowspan="2">Просрочка</th>
          <th rowspan="2">Клиент</th>
          <th rowspan="2">Откуда</th>
          <th rowspan="2">Куда</th>
          <th rowspan="2">Расстояние</th>
           <th rowspan="2">Вес</th>
       <th colspan="2">Цена</th>
                <th rowspan="2">Руб/км <br/>(без НДС)</th>
          <th rowspan="2"></th>

            </tr>
    <tr>

      <th scope="col">с НДС</th>
      <th scope="col">без НДС</th>

    </tr>
               </thead>
               <tbody>
                  {% for order in orders %}
                  {% if order.8 == "Иваева" %}
                 <tr>
                     <th><a href="https://trucker.group/orders/{{order.0}}">{{order.0}}</a></th>
                     <th>{{order.9|date:'M d'}}</th>
                        {% if order.10 < 0 %}
                              <th><span class="badge badge-success">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 == 0 %}
                              <th><span class="badge badge-warning">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 >= 1 %}
                              <th><span class="badge badge-danger">{{order.10}}</span></th>
                         {% endif %}


                      <td>{{order.1}}</td>
                     <td>{{order.2}}</td>
                     <td>{{order.3}}</td>
                     <td>{{order.12|floatformat:0}}</td>
                     <td>{{order.14|floatformat:0}}</td>

                      <td>{{order.5|floatformat:0|intcomma}}</td>
                      <td>{{order.6|floatformat:0|intcomma}}</td>
                      <td>{{order.11|floatformat:0|intcomma}}</td>

                     <td scope="col"><a href="{% url 'carriers' order_id=order.0 %}">Подобрать</a> </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
               </tbody>
            </table>


         </div>
         <div class="tab-pane fade" id="trubicin" role="tabpanel" aria-labelledby="trubicin-tab">
              <table id="trubicin_table" class="display compact" style="width:100%">
               <thead  class="thead-dark">
                             <tr>
          <th rowspan="2">Заказ</th>
          <th rowspan="2">Дата вывоза</th>
          <th rowspan="2">Просрочка</th>
          <th rowspan="2">Клиент</th>
          <th rowspan="2">Откуда</th>
          <th rowspan="2">Куда</th>
          <th rowspan="2">Расстояние</th>
          <th rowspan="2">Вес</th>
     <th colspan="2">Цена</th>
                <th rowspan="2">Руб/км <br/>(без НДС)</th>
          <th rowspan="2"></th>

            </tr>
    <tr>

      <th scope="col">с НДС</th>
      <th scope="col">без НДС</th>

    </tr>
               </thead>
               <tbody>
                  {% for order in orders %}
                  {% if order.8 == "Трубицин" %}
                 <tr>
                     <th><a href="https://trucker.group/orders/{{order.0}}">{{order.0}}</a></th>
                     <th>{{order.9|date:'M d'}}</th>
                        {% if order.10 < 0 %}
                              <th><span class="badge badge-success">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 == 0 %}
                              <th><span class="badge badge-warning">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 >= 1 %}
                              <th><span class="badge badge-danger">{{order.10}}</span></th>
                         {% endif %}


                      <td>{{order.1}}</td>
                     <td>{{order.2}}</td>
                     <td>{{order.3}}</td>
                     <td>{{order.12|floatformat:0}}</td>
                     <td>{{order.14|floatformat:0}}</td>
                      <td>{{order.5|floatformat:0|intcomma}}</td>
                      <td>{{order.6|floatformat:0|intcomma}}</td>
                      <td>{{order.11|floatformat:0|intcomma}}</td>

                     <td scope="col"><a href="{% url 'carriers' order_id=order.0 %}">Подобрать</a> </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
               </tbody>
            </table>


         </div>
         <div class="tab-pane fade" id="govorov" role="tabpanel" aria-labelledby="govorov-tab">
              <table id="govorov_table" class="display compact" style="width:100%">
               <thead  class="thead-dark">
                             <tr>
          <th rowspan="2">Заказ</th>
          <th rowspan="2">Дата вывоза</th>
          <th rowspan="2">Просрочка</th>
          <th rowspan="2">Клиент</th>
          <th rowspan="2">Откуда</th>
          <th rowspan="2">Куда</th>
          <th rowspan="2">Расстояние</th>
          <th rowspan="2">Вес</th>

                <th colspan="2">Цена</th>
                <th rowspan="2">Руб/км <br/>(без НДС)</th>
          <th rowspan="2"></th>

            </tr>
    <tr>

      <th scope="col">с НДС</th>
      <th scope="col">без НДС</th>

    </tr>
               </thead>
               <tbody>
                  {% for order in orders %}
                  {% if order.8 == "Говоров" %}
                  <tr>
                     <th><a href="https://trucker.group/orders/{{order.0}}">{{order.0}}</a></th>
                     <th>{{order.9|date:'M d'}}</th>
                        {% if order.10 < 0 %}
                              <th><span class="badge badge-success">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 == 0 %}
                              <th><span class="badge badge-warning">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 >= 1 %}
                              <th><span class="badge badge-danger">{{order.10}}</span></th>
                         {% endif %}


                      <td>{{order.1}}</td>
                     <td>{{order.2}}</td>
                     <td>{{order.3}}</td>
                     <td>{{order.12|floatformat:0}}</td>
                     <td>{{order.14|floatformat:0}}</td>

                      <td>{{order.5|floatformat:0|intcomma}}</td>
                      <td>{{order.6|floatformat:0|intcomma}}</td>
                      <td>{{order.11|floatformat:0|intcomma}}</td>

                     <td scope="col"><a href="{% url 'carriers' order_id=order.0 %}">Подобрать</a> </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
               </tbody>
            </table>


         </div>
         <div class="tab-pane fade" id="borzova" role="tabpanel" aria-labelledby="govorov-tab">
              <table id="borzova_table" class="display compact" style="width:100%">
               <thead  class="thead-dark">
                             <tr>
          <th rowspan="2">Заказ</th>
          <th rowspan="2">Дата вывоза</th>
          <th rowspan="2">Просрочка</th>
          <th rowspan="2">Клиент</th>
          <th rowspan="2">Откуда</th>
          <th rowspan="2">Куда</th>
          <th rowspan="2">Расстояние</th>
          <th rowspan="2">Вес</th>
                <th colspan="2">Цена</th>
                <th rowspan="2">Руб/км <br/>(без НДС)</th>
          <th rowspan="2"></th>

            </tr>
    <tr>

      <th scope="col">с НДС</th>
      <th scope="col">без НДС</th>

    </tr>
               </thead>
               <tbody>
                  {% for order in orders %}
                  {% if order.8 == "Борзова" %}
                  <tr>
                     <th><a href="https://trucker.group/orders/{{order.0}}">{{order.0}}</a></th>
                     <th>{{order.9|date:'M d'}}</th>
                        {% if order.10 < 0 %}
                              <th><span class="badge badge-success">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 == 0 %}
                              <th><span class="badge badge-warning">{{order.10}}</span></th>
                         {% endif %}
                        {% if order.10 >= 1 %}
                              <th><span class="badge badge-danger">{{order.10}}</span></th>
                         {% endif %}


                      <td>{{order.1}}</td>
                     <td>{{order.2}}</td>
                     <td>{{order.3}}</td>
                     <td>{{order.12|floatformat:0}}</td>
                     <td>{{order.14|floatformat:0}}</td>
                      <td>{{order.5|floatformat:0|intcomma}}</td>
                      <td>{{order.6|floatformat:0|intcomma}}</td>
                      <td>{{order.11|floatformat:0|intcomma}}</td>

                     <td scope="col"><a href="{% url 'carriers' order_id=order.0 %}">Подобрать</a> </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
               </tbody>
            </table>


         </div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <script>
         $(document).ready(function() {
              $('#voitik_table').DataTable( {
                "createdRow": function( row, data, dataIndex){
                      if(data[2] ==  "10"){
                        $(row).addClass('red');
                      }
                  },
                  "lengthMenu": [[25, 50, -1], [25, 50, "All"]]
              } );
            $('#sudakov_table').DataTable( {
                "createdRow": function( row, data, dataIndex){
                      if(data[2] ==  "10"){
                        $(row).addClass('red');
                      }
                  },
                  "lengthMenu": [[25, 50, -1], [25, 50, "All"]]
              } );
            $('#ivaeva_table').DataTable( {
                "createdRow": function( row, data, dataIndex){
                      if(data[2] ==  "10"){
                        $(row).addClass('red');
                      }
                  },
                  "lengthMenu": [[25, 50, -1], [25, 50, "All"]]
              } );
               $('#trubicin_table').DataTable( {
                "createdRow": function( row, data, dataIndex){
                      if(data[2] ==  "10"){
                        $(row).addClass('red');
                      }
                  },
                  "lengthMenu": [[25, 50, -1], [25, 50, "All"]]
              } );

               $('#govorov_table').DataTable( {
                "createdRow": function( row, data, dataIndex){
                      if(data[2] ==  "10"){
                        $(row).addClass('red');
                      }
                  },
                  "lengthMenu": [[25, 50, -1], [25, 50, "All"]]
              } );
               $('#borzova_table').DataTable( {
                "createdRow": function( row, data, dataIndex){
                      if(data[2] ==  "10"){
                        $(row).addClass('red');
                      }
                  },
                  "lengthMenu": [[25, 50, -1], [25, 50, "All"]]
              } );

          } );
      </script>
   </body>
</html>